<?xml version="1.0"?>
<configuration>


  <system.serviceModel>
    <services>
      <service name="PokeMon.PokeMonHeartbeatService" behaviorConfiguration="PokeMon.PokeMonHeartbeatServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address="http://localhost/Heartbeat.svc" binding="wsHttpBinding" contract="PokeMon.IPokeMonHeartbeatService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PokeMon.PokeMonHeartbeatServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
