<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pokeMon" type="PokeMon.MonitorSettings, PokeMon" />
  </configSections>

  <!-- Basic example config -->
  <!-- Pokes MyDomain.com every 3 minutes and sends an email to "issues@MyDomain.com" if doing so fails. -->
  <!--
  <pokeMon>
    <websites>
      <poke uri="http://www.MyDomain.com" intervalMinutes="3">
        <emailNotification>
          <add destination="issues@MyDomain.com" resultThreshold="fail" />
        </emailNotification>
      </poke>
    </websites>
  </pokeMon>
  -->

  <!-- Advanced example config -->
  <pokeMon>

    <!-- Global notifiers that will get applied to all actions -->
    <globalNotifiers>

      <!-- Email me whenever something returns a "failed", or worse, result -->
      <emailNotification>
        <add destination="justinw@twospaces.net" resultThreshold="fail"/>
      </emailNotification>

      <!-- Write the results to the console whenever an action produces a pass, warning, or failure (e.g. all the time) -->
      <consoleNotification>
        <add resultThreshold="pass"/>
      </consoleNotification>      
    </globalNotifiers>

    
    <!-- Set of websites to monitor -->
    <websites>

      <!-- Poke this website every 60 seconds.  Also available "intervalMinutes" and "intervalHours".  If you include 
           more than one they'll be added together. By default, looks for the string "body" in the response stream. -->
      <poke uri="http://www.twospaces.net" intervalSeconds="60">

        <!-- Send "555..." a text message whenever this action runs.  Send both "555..." and "123..." a text message
             whenever it fails. -->        
        <SMSNotification>
          <add destination="5555555555;" resultThreshold="pass"/>
          <add destination="123456789;555555555" resultThreshold="fail"/>
        </SMSNotification>
      </poke>

      <!-- Poke this website looking for the string "purple" in the response stream. -->
      <poke uri="http://www.twospaces.net/Breeze" verifyPageContains="purple" intervalMinutes="1" />
    </websites>

    <!-- Webservices to poke -->
    <webservices>
      <poke uri="http://www.twospaces.net/breeze2/BreezeServer.svc" intervalSeconds="30" />
    </webservices>
    
  </pokeMon>
  
  <!-- SMTP information used to send emails.  Required for the email and SMS notifiers. -->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" password="PASSWORD" port="587" userName="donotreply@twospaces.net" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>